{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Кибербух</title>
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
</head>

<body>
  @@include('./html/partials/_header.html')
  <div class="first-screen-bg d-flex flex-column"></div>
  <main class="main">
    <section ion class="hero">
      <div class="container">   
        <div class="row">
          <h1 class="hero__title title title_line col-12 mb-4">КиберБух</h1>
        </div>
        <form action="{% url 'save_video' %}" method="post" class="hero__form row">
          {% csrf_token %}
          <h2 class="col-12 hero__subtitle subtitle">Настройка генерации</h2>
          <!--youtube-link box -->
            <div class="col-12 mx-auto mb-2">
              <input class="input-base hero__form-input" name="youtube-link" placeholder="Вставьте ссылку на youtube видео..."
                type="text" />
            </div>
          <!--timebox -->
          <div class="hero__form-box d-flex mb-2">
            <div class="col-6">
              <input class="input-base hero__form-input" name="start_time" placeholder="начало..." type="text" />
            </div>
            <div class="col-6">
              <input class="input-base hero__form-input" name="end_time" placeholder="конец..." type="text" />
            </div>
          </div>
          <!--annotation-box -->
          <div class="hero__form-box mb-2">
            <div class="col-12">
              <input type="text" class="input-base hero__form-input" placeholder="длина аннотации...">
            </div>
          </div>
          <!--article length-box -->
          <div class="hero__form-box mb-2">
            <div class="col-12">
              <input type="text" class="input-base hero__form-input" placeholder="длина статьи...">
            </div>
          </div>
             <!--screenshot-box -->
             <div class="hero__form-box mb-2">
              <div class="col-12">
                <input type="text" class="input-base hero__form-input"
                name="focus_time"
                  placeholder="делать скриншот если кадр не менялся в течение X секунд...">
              </div>
            </div>
            <div class="hero__form-box mb-2">
              <div class="col-12 d-flex justify-content-center">
                <button class="btn-reset btn-base">Сгенерировать статью</button>
              </div>
            </div>
        </form>
      </div>
      </div>
    </section>
  </main>
</body>

</html>