/* header */
.header {
  height: var(--header-footer-height);
  padding: 10px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* title (h1) */
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 76px;
  color: var(--black-primary);
  position: relative;
  &_line {
    position: relative;
    text-align: center;
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--accent-color);
      width: 80px;
      height: 3px;
      left: calc(50% - 40px);
      bottom: -5px;
      border-radius: 5px;
    }
  }
  @include respond-to(tb) {
    font-size: 54px;
  }
}
/* subtitle (h2) */
.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 54px;
  color: var(--black-primary);
  position: relative;
  &_line {
    position: relative;
    text-align: center;
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--accent-color);
      width: 60px;
      height: 3px;
      left: calc(50% - 30px);
      bottom: -5px;
      border-radius: 5px;
    }
  }
}

/* text */
.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
/* logo */
.logo {
  font-size: 20px;
  white-space: nowrap;
  font-weight: 600;
  z-index: var(--zIndexLogo);
  &__link {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-duration);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

// btn-base
.btn-base {
  padding: 7px 22px;
  cursor: pointer;
  border-radius: 7px;
  font-family: var(--font-inter);
  background-color: var(--blue-primary);
  color: var(--white-primary);
  transition: background-color var(--transition-duration);
  font-weight: 500;
  min-width: 70px;
  &:hover {
    background-color: var(--blue-primary-hover);
  }
  &:active {
    background-color: var(--blue-primary-active);
  }
  &:focus {
    background-color: var(--blue-primary-focus);
  }
}
// btn-accent
.btn-accent {
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 7px;
  font-family: var(--font-inter);
  background-color: var(--accent-color);
  color: var(--white-primary);
  transition: background-color var(--transition-duration);
  font-weight: 500;
  &:hover {
    background-color: var(--accent-color-hover);
  }
  &:active {
    background-color: var(--accent-color-active);
  }
  &:focus {
    background-color: var(--accent-color-focus);
  }
}

/* input */
.input-base{
  padding: 10px 50px 10px 20px;
  outline: none;
  border:none;
  color: var(--black-primary);
  border: 1px solid var(--grey-color);
  transition: box-shadow var(--transition-duration);
  height: 50px;
  font-size: var(--inputFontSize);
  border-radius: 7px;
  outline: none;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  &:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }
  &:focus {
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
      0px 0px 8px rgba(0, 0, 0, 0.2);
  }

}
.input-base{
  width: 100%;
}