@import "./_nullstyle.scss";
@import "./_fonts.scss";
@import "./_vars.scss";
@import "./mixins/mediamixin.scss";
@import "./_common.scss";
@import "./_mygrid.scss";
@import "./_blocks.scss";
@import "./_extends.scss";
@import "./_libs.scss";

/* hero bg (blue) */
.first-screen-bg {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  height: 100%;
  background: var(--blue-primary);
  z-index: -1;
}

/* hero section */
.hero {
  padding-top: var(--header-footer-height);
  min-height: 100vh;
}


.hero-form {
  background: var( --white-primary);
  padding: 20px;
  min-height: 300px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin: 40px 0px;
}

.hero-form__title,
.hero-form__subtitle {
  text-align: center;
}

.hero-form__label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.hero-form__text {
  align-self: flex-start;
}

.hero-form__wrap_timebox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  position: relative;
}

.hero-form__input_link {
  width: 100%;
}

.hero-form__input-icon_link {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox {
  display: none;
}

.checkbox_fake {
  display: block;
  float: left;
  width: 20px;
  border-radius: 5px;
  height: 20px;
  border: 2px solid var(--blue-primary);
  position: relative;

  &::before {
    content: "✔";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 2px;
    color: var(--approve-color);
    opacity: 0;
  }
}

.checkbox:checked+.checkbox_fake::before {
  opacity: 1;
}


.checkbox-label {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.checkbox__text {
  margin-left: 10px;
}

.hero-form__question-box{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero-form__label{
  position: relative;
}

.hero-form__wrap{
  display: flex;
  flex-direction: column;
}

.hero-form__subtitle{
  margin-bottom: 15px;
}