@import "./_nullstyle.scss";
@import "./_fonts.scss";
@import "./_vars.scss";
@import "./mixins/mediamixin.scss";
@import "./_common.scss";
@import "./_mygrid.scss";
@import "./_blocks.scss";
@import "./_extends.scss";

/* hero section */
.hero {
  min-height: 100vh;
  padding-top: var(--header-footer-height);
  @extend %flex-center;
}

/* hero bg (blue) */
.first-screen-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  min-width: 200px;
  height: 100vh;
  background: var(--blue-primary);
  border-radius: 0px 0px 0px 200px;
  z-index: -1;
}
/* link form */
.hero__form-link {
  position: relative;
  &::before {
    content: "";
    width: 100px;
    height: 100px;
    background: none;
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: 10px dotted var(--accent-color);
  }
}

.form-link__input {
  width: 100%;

}

.form-link__input-icon {
  color: var(--disabled-color);
}

.form-link__btn {
  position: absolute;
  right: calc(1.5rem * .5);
  bottom: 0px;
  padding: 0px 10px;
  font-size: var(--buttonsFontSize);
  background: none;
  width: 45px;
  height: 50px;
  border-radius: 0px 7px 7px 0px;
}

.form-link__label {
  position: relative;
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 24px;
  color: var(--black-primary);
}
.form-link__label-question {
  color: var(--accent-color);
  font-size: 14px;
  cursor: pointer;
  transition: color var(--transition-duration);
  &:hover {
    color: var(--accent-color-hover);
  }
}

// // /* menu (navigation) */

.menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-primary);
  padding: 100px 0px;
  opacity: 0.9;
  transition: left var(--transition-duration);
  overflow: auto;
  z-index: var(--zIndexNav);
  &_open {
    left: 0%;
    &::before {
      background: var(--white-primary);
      box-shadow: 0px 6px 6px -6px rgba(34, 60, 80, 0.6);
      transition: background var(--transition-duration),
        box-shadow var(--transition-duration);
    }
  }
// //   /* An element that smoothly overlaps menu items when scrolling */
  &::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    height: var(--header-footer-height);
    z-index: var(--zIndexNavBeforeFixed);
    @include respond-to(tb) {
      display: none;
    }
  }
  @include respond-to(tb) {
    position: static;
    background: none;
    padding: 0px;
    height: auto;
    overflow: visible;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  @include respond-to(tb) {
    flex-direction: row;
    justify-content: end;
  }
}
.menu__item {
  @include respond-to(tb) {
    margin: 0 10px;
  }
}
.menu__link {
  display: block;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
  @include respond-to(tb) {
    font-size: 18px;
    padding: 0px;
  }
}

// /* burger */
.menu__burger {
  display: flex;
  border-radius: 13px;
  border: none;
  width: var(--burgerMenusize);
  height: var(--burgerMenusize);
  margin-left: auto;
  background: var(--white-primary);
  border: 1px solid var(--blue-primary);
  box-shadow: inset 2.36842px 2.36842px 5.52632px rgba(136, 165, 191, 0.48);
  padding: 15px 12px;
  position: relative;
  z-index: var(--zIndexBurgerMenu);
  &-line {
    width: 100%;
    height: 2px;
    background: var(--blue-primary);
    border-radius: 20px;
    transition: width var(--transition-duration) ease;
    box-shadow: inset 0.394737px 0.394737px 0.394737px rgba(33, 68, 104, 0.4),
      inset -0.394737px -0.394737px 0.394737px rgba(255, 255, 255, 0.4);
    &:last-child {
      width: 10px;
    }
  }
  &_open {
    background: var(--blue-primary);
    .menu__burger-line {
      background: var(--white-primary);
      &:last-child {
        width: 100%;
      }
    }
  }
  @include respond-to(tb) {
    display: none;
  }
}

















.link-generation {
  padding: var(--section-padding) 0px;
  position: relative;
  background: linear-gradient(
    0deg,
    rgb(7, 133, 206, 0.7) 10%,
    rgba(255, 255, 255, 1) 70%
  );
  &::before {
    content: "";
    background: transparent;
    position: absolute;
    left: -10px;
    top: 0;
    background-image: url("../images/decor.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
  }
}



.link-generation__subtitle {
  text-align: center;
}
.link-generation__box {
  padding: 20px 20px 0px 20px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white-primary);
  box-shadow: 0px 5px 10px 2px rgb(51 51 51 / 53%);
  border: 1px solid rgb(203, 203, 203);
  border-radius: 24px;
  overflow-y: hidden;
  justify-content: space-between;
  @include respond-to(sm) {
    height: 700px;
  }

}

.link-generation__box-body {
  overflow-y: auto;
  padding-right: 30px;
  height: 70%;
  @include respond-to(sm) {
    height: 85%;
  }
}


.link-generation__box-screen {
    background: var(--white-primary);
    @include respond-to(tb) {
      padding-right: 50px;
    }
  }
.link-generation__list{
 display: flex;
 flex-direction: column;
gap: 25px;
}
.link-generation__item{
  flex-direction: column;
    display: flex;
    align-items: center;

    justify-content: center;
    @include respond-to(tb) {
      flex-direction: row;
    }
}

.link-generation__item-text {
  padding: 5px 10px;
  font-size: 17px;
  @include respond-to(tb) {
    padding: 10px 15px;
    font-size: 20px;
  }
}


.link-generation__item-img {
  flex: 0 0 40%;
}
.link-generation__item-text {
  flex: 0 0 60%;
}


.link-generation__box-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-primary);
  height: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond-to(sm) {
    height: 13%;
  }
}


.link-generation__box-btns {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  @include respond-to(sm) {
    flex-direction: row;
    align-items: center;
  }
}
.footer{
  background: var(--black-primary);
  color:var(--white-primary);
}
.footer__content{
  display: flex;
  justify-content: center;
  align-items:center;
  height: var(--header-footer-height);

}
.auth-form__title{
  text-align: center;
}

.sidebar{
  flex: 0 0 20%;
  background:var(--blue-primary);
}
.chat{
  flex: 0 0 80%;
  background:var(--white-primary);
}
.link-generation__box-2{
  display: flex;
  height: 100vh;
}
.link-generation__box_user{
  padding: 0;
  height: 85%;
  box-shadow:none;
  border:none;
  width: 100%;
}